{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ByTheLaw News</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" alt="By the Law Logo" style="width: 164px; height: 22px;" />
        </div>
        <nav>
          <ul>
            <li>
              <a href="#sobre">Sobre</a>
            </li>
            <li>
              <a href="#missao">Missão</a>
            </li>
            <li>
              <a href="#faq">FAQ</a>
            </li>
            <li>
              <a href="#contacto">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="main-container">
      <aside class="sidebar">
        <ul>
          <li>
            <a href="#section1">Section 1</a>
          </li>
          <li>
            <a href="#section2">Section 2</a>
          </li>
          <li>
            <a href="#section3">Section 3</a>
          </li>
          <li>
            <a href="#section4">Section 4</a>
          </li>
        </ul>
      </aside>
      <section class="content">
        <article>
          <h1>Hello, World!</h1>
        </article>
      </section>
    </div>
  </body>
</html>
